# len()

fungsi len() bertujuan untuk menghitung panjang atau banyaknya elemen dari list, set, dan string. Khusus pada string, program akan menghitung jumlah karakternya

In [ ]:
contoh = [1, 3, 3, 5, 5, 5, 7, 7, 9]

print(contoh)
print(len(contoh))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9

Dalam kode di atas, Anda menampilkan panjang dari anggota yang berada pada list. Anda bisa memperhatikan lebih detail setiap anggota list memang berjumlah 9 atau tidak

In [ ]:
contoh_list = set([1, 3, 3, 5, 5, 5, 7, 7, 9])

print(contoh_list)
print(len(contoh_list))

{1, 3, 5, 7, 9}
5

Pada kode di atas, Anda mengonversi list menjadi set terlebih dahulu. Hal in menyebabkan anggota set yang tidak memiliki duplikat. setelah itu, anda mencetak jumlah anggota dari set. Hasilya adalah anggota set berjumlah 5.

In [ ]:
contoh_list = "Belajar Python"

print(contoh_list)
print(len(contoh_list))

Belajar Python
14

Pada kode di atas, Anda menghitung jumlah karakter string yang ada pada variabel "contoh_list". Perhatikan bahwa karakter space dihitung sebagai karakter string

# min() dan max()
Selain menghitung panjang atau banyakanya elemen, Anda juga dapat mengetahui berapa nilai minimun dan maksimum dari suatu list mengunakan fungsi min() dan max().

In [ ]:
angka = [13, 7, 24, 5, 96, 84, 71, 11, 38]
print(min(angka))
print(max(angka))

5
96

# Count
Fungsi count() digunakan untuk mengetahui berapa kali suatu objek muncul dalam list.

In [ ]:
genap = [2, 4, 4, 6, 6, 6, 8, 10, 10]
print(genap.count(6))

3

Pada kode di atas, program akan menghitung banyaknya angka 6 dalam list. Namun, pada kode di bawah, program akan menghitung banyaknya substring/huruf "a" dalam string.

In [ ]:
string = "Belajar Python di Dicoding sangat menyenangkan"
substring = "a"
print(string.count(substring))

6

# In dan Not In
In dan Not in merupakan operator yang diperuntukan untuk mengetahui nilai atau objek yang ada dalam list. Anda bisa menggunakan operator ini untuk memastikan suatu nilai ada dalam list bahkan dalam string. Operator in dan not in akan mengembalikan nilai boolean true atau false.

In [ ]:
kalimat = "Belajar Python di Dicoding sangat menyenangkan"
print('Dicoding' in kalimat)
print('tidak' in kalimat)
print('Dicoding' not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

# Memberikan nilai untuk multiple variabel
Dalam list atau tuple, terkadang anda perlu memberikan nilai pada variabel-variabel tersebut. Secara konvensional, anda bisa melakukan hal tersebut dengan menandai indeks yang diinginkan dan memberikan nilai satu per satu sesuai keinginan.

In [ ]:
data = ['shirt', 'white', 'L']
apparel = data[0]
color = data[1]
size = data[2]
print(data)
print(size, color, apparel)

['shirt', 'white', 'L']
L white shirt

# Sort
Fungsi sort() digunakan untuk mengurutkan angka atau urutan huruf

In [ ]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort()

print(kendaraan)

['helikopter', 'mobil', 'motor', 'pesawat']

Beberapa hal yang perlu diketahui mengenai sort sebagai berikut
1. Dapat membalikan urutan dengan cara berikut

In [ ]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort(reverse=True)

print(kendaraan)

['pesawat', 'motor', 'mobil', 'helikopter']

2. Metode sort tidak dapat mengurutkan list yang memiliki angka dan string sekaligus di dalamnya.

In [ ]:
urutan = ['Dicoding', 1, 2, 'Indoensia', 3]
urutan.sort()

print(urutan)

TypeError: '<' not supported between instances of 'int' and 'str'

Pada kode di atas menghasilkan error karena Anda mengurutkan dua tipe data, yakni string dan number

3. Metode sort menggunakan urutan ASCII sehingga nilai huruf kapital (uppercase) akan lebih dahulu dibandingkan huruf kecil (lowercase)

In [ ]:
kendaraan = ['motor', 'mobil', 'helikopter', 'Pesawat']
kendaraan.sort()
print(kendaraan)

['Pesawat', 'helikopter', 'mobil', 'motor']

#Kuis Coding : Operasi List

In [ ]:
"""
TODO:
Diberikan sebuah variabel berisi nilai list dengan nama "var_list".
Berdasarkan list tersebut, cari hal-hal berikut ini:
- Panjang list tersebut dan simpan dengan nama variabel "panjang".
- Nilai maksimal list tersebut dan simpan dengan nama variabel "maksimal".
- Nilai minimal list tersebut dan simpan dengan nama variabel "minimal".
- Berapa banyak angka 605132 dalam list tersebut dan simpan dalam variabel bernama "banyak"

Tips:
- Anda bisa menggunakan berbagai kode yang ada di materi operasi,
  tidak diperbolehkan memasukan nilai secara langsung.
"""

# Jangan ubah kode ini
var_list = [792564, 465231, 203748, 981037, 857219, 314092, 608345, 123907, 736890, 985026,
179430, 450218, 680934, 543187, 978260, 283045, 617902, 405826, 820913, 731095,
592403, 109237, 874956, 605132, 214978, 674519, 391047, 825160, 509317, 768490,
950283, 307491, 487610, 532198, 605132, 160984, 609873, 245016, 879043, 734126,
351809, 670594, 920873, 605132, 596410, 135890, 804512, 683420, 290753, 931560,
175430, 950672, 378490, 284105, 746098, 503624, 605132, 167432, 974810, 519463,
407835, 740326, 281709, 630921, 953284, 605132, 429731, 183607, 369012, 541380,
605132, 217605, 496803, 827309, 153607, 605132, 720459, 381904, 594031, 810235,
673925, 492157, 835096, 260481, 956024, 540329, 806295, 320158, 751903, 980465,
235780, 857943, 605132, 125094, 620493, 913250
]

# TODO: Buat kode Anda di bawah ini
panjang = len(var_list)
maksimal = max(var_list)
minimal = min(var_list)
banyak = var_list.count(605132)

print(panjang, maksimal, minimal, banyak)

96 985026 109237 8

In [ ]:
data = ['dress', 'red']
apparel, color = data
print(apparel)
print(color)

dress
red

In [ ]:
x = (5, 'program', 1+3j)
x[1] = 'Dicoding'
print(x)

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""
TODO:
Anda diharuskan membuat program diskon untuk sebuah toko belanja dengan ketentuan berikut.
- Jika pelanggan berbelanja lebih dari 500.000 ribu, mereka akan mendapat potongan harga 10%.
- Seorang pelanggan bernama Dico telah berbelanja senilai 750.000 ribu.
- Buat operasi aritmetika untuk menghitung total harga belanja Dico setelah mendapatkan diskon,
  dan simpan dalam variabel bernama "total_harga".

Tips:
- Ingat yang dicari adalah total harga belanja setelah diskon, bukan besaran potongan harga.
"""
# Jangan ubah kode ini
dico = 750000

# TODO: Silakan buat kode Anda di bawah ini.
if dico > 500000:
  disc = dico * 0.10
  total_harga = dico - disc

  print(total_harga)

675000.0